# Ignore build and debug files
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.FileListAbsolute.txt
*.sourceLink.json
__pycache__/
*.pyc
~$*.xlsx


# Ignore IDE-specific files (optional)
.vs/
.vscode/

# Ignore Node.js dependencies
node_modules/
